<h2> Welcome! </h2>

<p>We show totally accurate lists of continents and countries!!</p>

<form action="/" method="post">
  <div>
    <label for="username">Name</label><br>
    <input id="input" type="text" name="username"/>
  </div>
  <br>
  <div id="message_box" >
    <label for="message">Message</label><br>
    <input type="text" name="message"/>
  </div>
  <br>
  <input type="submit" value="Add Message"/>

</form>

